@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
html {
  background-color: black;
}

.BodyContainer {
  filter: brightness(30%);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/BackgroundStone.jfif");
  background-size: 15%;
  height: 68em;
  min-height: 68em;
  width: 100%;
  min-width: 100%;
  background-color: rgb(39, 39, 52);
  margin: auto;
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  grid-template-rows: 180px 180px 180px 180px 180px 180px;
}

.BB {
  background-color: black;
  background-image: none;
  transition: background-color 1000ms linear;
}

.Message {
  color: white;
  font-size: 3em;
  font-family: "Creepster", cursive;
  margin: auto;
  margin-top: 15%;
  background-color: transparent;
  grid-column-start: 4;
  grid-column: span 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Message h3 {
  text-align: center;
  margin: auto;
  font-size: 0.5em;
}

.Door {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  margin: auto;
  background-color: black;
  overflow: hidden;
  width: 80%;
  height: 150%;
  grid-column-start: 5;
  grid-column: span 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
.Door .TheTruthActive {
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
}

.DoorButton {
  cursor: pointer;
  background: linear-gradient(to right, rgb(125, 117, 117) 0%, rgb(125, 117, 117) 50%, #333 50%, #333 100%);
  width: 40%;
  height: 20%;
  border-radius: 100%;
  border: 0;
  margin-top: 80%;
  margin-left: 80%;
  position: relative;
}

.DoorButtonActive {
  background: linear-gradient(to right, rgb(125, 117, 117) 0%, rgb(125, 117, 117) 50%, #333 50%, #333 100%);
  width: 40%;
  height: 20%;
  border-radius: 100%;
  border: 0;
  margin-top: 80%;
  margin-left: 80.2%;
  position: relative;
  transition-duration: 4s;
  rotate: 540deg;
}

.LeftDoor {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #333;
}

.RightDoor {
  float: right;
  height: 100%;
  width: 50%;
  background-color: rgb(125, 117, 117);
  border: none;
}

.LeftDoorActive {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #333;
  transition-duration: 6s;
  transform: translate(-150%);
}

.RightDoorActive {
  float: right;
  height: 100%;
  width: 50%;
  background-color: rgb(125, 117, 117);
  transition-duration: 6s;
  transform: translate(150%);
}

.HideEye {
  display: none;
}

.Hide {
  opacity: 0;
}

.Opacity1row {
  opacity: 0.6;
  transition: 2s;
}

.Opacity2row {
  opacity: 0.6;
  transition: 4s;
}

.Opacity3row {
  opacity: 0.6;
  transition: 6s;
}

.container {
  position: relative;
  cursor: pointer;
  margin-left: 10%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.iris {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
}

.eyeBall {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 40px;
  z-index: 1;
  overflow: hidden;
}

.container2 {
  position: relative;
  cursor: pointer;
  margin-left: 10%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.iris2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris2:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris2:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
  box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}

.eyeBall2 {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 40px;
  z-index: 1;
  overflow: hidden;
}

.container3 {
  position: relative;
  cursor: pointer;
  margin-left: 10%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.iris3 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris3:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris3:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
  box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}

.eyeBall3 {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 30px;
  z-index: 1;
  overflow: hidden;
}

.container4 {
  position: relative;
  cursor: pointer;
  margin-left: 10%;
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.iris4 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris4:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris4:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
  box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}

.eyeBall4 {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 30px;
  z-index: 1;
  overflow: hidden;
}

.container5 {
  position: relative;
  cursor: pointer;
  margin-right: 20%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.iris5 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris5:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris5:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
  box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}

.eyeBall5 {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 30px;
  z-index: 1;
  overflow: hidden;
}

.container6 {
  position: relative;
  cursor: pointer;
  margin-left: 30%;
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
}

.iris6 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  background-color: rgb(143, 39, 147);
  border-radius: 50%;
  left: 65px;
  top: 65px;
}

.iris6:before {
  content: "";
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 22%;
  left: 22%;
}

.iris6:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 35%;
  left: 65%;
  box-shadow: -35px 20px rgba(255, 255, 255, 0.4);
}

.eyeBall6 {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: grey;
  border: 5px solid #333;
  border-radius: 100% 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  transform: rotate(134deg);
  top: 30px;
  z-index: 1;
  overflow: hidden;
}/*# sourceMappingURL=index.css.map */